clearml==1.14.2
pandas==1.5.3
numpy==1.24.4
scikit-learn==1.2.2
nltk==3.8.1
gdown==4.7.1
xgboost==1.7.6
joblib==1.2.0
matplotlib==3.7.1

# Core ClearML
clearml

# Data Processing
pandas
numpy
scikit-learn
nltk
gdown

# Modeling
xgboost
joblib
matplotlib

# Optional (避免缺模块报错)
pathlib
